{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friday</title>
    <link rel="shortcut icon" href="{% static 'img/FRIDAY.png' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        :root {
            --dark: #38220f;
            --primary: #634832;
            --secondary: #967259;
            --light: #dbc1ac;
        }

        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

        * {
            font-family: 'Kanit', sans-serif;
        }

        body {
            background-color:var(--primary);
            height: 100%;
        }

        #app {
            height: 100dvh;
            background-color: var(--secondary);
            box-shadow: 0 0 5rem var(--dark);
        }

        #game {
            /* border: #38220f solid 2.5px; */
            box-shadow: 0 0 1rem var(--dark);
            background-color: #fff;
            color: #fff;
        }

        #dangerous {
            background-color: var(--primary);
            color: #fff;
            box-shadow: 0 0 1rem var(--primary);
        }

        /* tr {
            color: #163020;
        } */

        .status-table {
            color: var(--light);
            --bs-table-bg: transparent !important;
            --bs-table-fg: #fff !important;
        }

        #battle-phase {
            background-color: var(--light);
            height: 50dvh;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <main id="app" class="container pt-3 px-lg-5">
        <div id="game" class="row m-auto rounded-4 px-2 px-lg-3 pt-2" v-if="game_data!=null">
            <div class="col-6 col-lg-8">
                <table class="table status-table table-sm table-light table-hover table-borderless rounded-4 ">
                    <tr>
                        <th>User</th>
                        <td class="text-center text-lg-start">{{user}}</td>
                    </tr>
                    <tr>
                        <th>HP</th>
                        <td class="text-center text-lg-start">[{ game_data.game.life_point }]</td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td class="text-center text-lg-start">[{game_data.game.age}]</td>
                    </tr>
                </table>
            </div>
            <div class="col-6 col-lg-4">
                <table class="table status-table table-sm table-light table-hover table-borderless rounded-4 ">
                    <tr>
                        <th>Round</th>
                        <td class="text-center text-lg-start">[{game_data.game.round}]</td>
                    </tr>
                    <tr>
                        <th>Deck</th>
                        <td class="text-center text-lg-start">[{game_data.deck}]</td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td class="text-center text-lg-start">[{game_data.game.level}]</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--  -->
        <hr>
        <section class="container rounded-4 py-2 mb-3" id="dangerous">
            <div class="row m-auto py-2">
                <div class="col-4">Danger</div>
                <div class="col-4">HP:20</div>
                <div class="col-4 justify-content-end align-items-center d-flex flex-row">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        asd
                    </button>
                </div>
            </div>
            <div class="collapse " id="collapseExample">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when the user activates the relevant trigger.
                </div>
            </div>
        </section>

        <!--  -->
        <section id="battle-phase" class=" container rounded-4 py-3">
            <div class="skill">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                asd
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                asd
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                asd
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                asd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        const { createApp, ref } = Vue;
        const app = createApp(
            {
                delimiters: ["[{", "}]"],
                data() {
                    return {
                        game: "{{id}}",
                        game_data: null,
                        quest: {
                            danger: {
                                id: null,
                                name: null,
                                pick: null,
                                life_point: null
                            },
                            skill: {
                                id: null,
                                name: null,
                                power: null,
                                active: null,
                                spend: null,
                                type: null
                            }
                        },
                        dangers: null,
                        finder: true,
                        pick_value: 0,
                        fields: []
                    };
                },
                mounted() {
                    console.log("hello");
                    const form_data = new FormData;
                    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                    form_data.append('id', '{{id}}');
                    axios(
                        {
                            method: "post",
                            url: "{% url 'game-data-api' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.data['status']) {
                            this.game_data = response.data['data'];
                        }
                        else {

                        }
                        console.log(response.data);
                    });
                },
                methods: {
                    draw() {
                        if (this.pick_value >= 1) {
                            const form_data = new FormData;
                            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                            form_data.append('id', '{{id}}');
                            axios(
                                {
                                    method: 'post',
                                    url: "{% url 'draw-api' %}",
                                    data: form_data
                                }
                            ).then((response) => {
                                this.fields.push(response.data['card']);
                                this.game_data.deck = response.data['deck'];
                            });
                            this.pick_value -= 1;
                        }
                        else {

                        }
                    },
                    selectCard(id) {
                        this.quest = this.dangers[id];
                        setTimeout(() => {
                            this.dangers = null;
                            this.finder = false;
                            this.pick_value = this.quest.danger.pick;
                        }, 100);
                        document.getElementById("danger-modal-close").click();
                    },
                    randomDanger() {
                        if (this.dangers == null) {
                            axios(
                                {
                                    method: "get",
                                    url: "{% url 'danger-api' %}"
                                }
                            ).then((response) => {
                                this.dangers = response.data['data'];
                                setTimeout(() => {
                                    document.getElementById("danger-modal-open").click();
                                }, 100);
                            });
                        }
                        setTimeout(() => {
                            document.getElementById("danger-modal-open").click();
                        }, 100);
                    }
                }
            }
        );
        app.mount('#app')
    </script>
    <!--  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script> -->
</body>

</html>