{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friday</title>
    <link rel="shortcut icon" href="{% static 'img/FRIDAY.png' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        :root {
            --dark: #38220f;
            --primary: #634832;
            --secondary: #967259;
            --light: #dbc1ac;
        }

        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

        * {
            font-family: 'Kanit', sans-serif;
        }

        body {
            background-color: var(--primary);
            height: 100%;
        }

        #app {
            height: 100dvh;
            background-color: var(--secondary);
            box-shadow: 0 0 5rem var(--dark);
        }

        #game {
            /* border: #38220f solid 2.5px; */
            box-shadow: 0 0 1rem var(--dark);
            background-color: #fff;
            color: #fff;
        }

        #dangerous {
            background-color: var(--primary);
            color: #fff;
            box-shadow: 0 0 1rem var(--primary);
        }

        /* tr {
            color: #163020;
        } */

        .status-table {
            color: var(--light);
            --bs-table-bg: transparent !important;
            --bs-table-fg: #fff !important;
        }

        #battle-phase {
            background-color: var(--light);
            height: 50dvh;
            overflow-y: auto;
        }

        #action-btn {
            background-color: var(--primary);
            box-shadow: 0 -0.25rem 1rem var(--dark);
        }

        .button-primary {
            border: var(--primary) 1px solid;
            background-color: var(--primary);
            color: var(--light);
        }

        .button-primary:hover {
            background-color: var(--light);
            color: var(--primary);
        }
    </style>
</head>

<body class="vh-100">
    <main id="app" class="container pt-3 px-lg-5 h-100">
        <!--  -->
        <!-- Button trigger modal -->
        <button type="button" id="open-modal-danger" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#danger-modal" hidden>
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade modal-lg" id="danger-modal" tabindex="-1" aria-labelledby="danger-modalLabel"
            aria-hidden="true" v-if="dangers!=null">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="danger-modalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            ref="danger-modal-close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="accordion " id="accordionExample">
                            <div class="accordion-item" v-for="(item, index) in dangers" :key="index">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        :data-bs-target="`#collapseOne${index}`" aria-expanded="true"
                                        :aria-controls="`collapseOne${index}`">
                                        [{item.danger.name}]
                                    </button>
                                </h2>
                                <div :id="`collapseOne${index}`" class="accordion-collapse collapse p-3 "
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0">
                                        <div class="p-0">
                                            <b>info</b>
                                            <hr>
                                            <div class="row py-1 m-auto">
                                                <div class="col-4">[{item.danger.name}]</div>
                                                <div class="col-4">[{item.danger.life_point}]</div>
                                                <div class="col-4">[{item.danger.pick}]</div>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="p-0">
                                            <b>skill</b>
                                            <hr>
                                            <div class="row py-1 m-auto">
                                                <div class="col-4">[{item.skill.name}]</div>
                                                <div class="col-4">[{item.skill.power}]</div>
                                                <div class="col-4">[{item.skill.spend}]</div>

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="button" class="btn btn-primary"
                                        @click="selectCard(index)">accept</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>

        <!--  -->
        <div id="game" class="row m-auto rounded-4 px-2 px-lg-3 pt-2" v-if="game_data!=null">
            <div class="col-6 col-lg-8">
                <table class="table status-table table-sm table-light table-hover table-borderless rounded-4 ">
                    <tr>
                        <th>User</th>
                        <td class="text-center text-lg-start">{{user}}</td>
                    </tr>
                    <tr>
                        <th>HP</th>
                        <td class="text-center text-lg-start"><span v-show="game_data!=null">[{ hp }]</span></td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td class="text-center text-lg-start">[{game_data.game.age}]</td>
                    </tr>
                </table>
            </div>
            <div class="col-6 col-lg-4">
                <table class="table status-table table-sm table-light table-hover table-borderless rounded-4 ">
                    <tr>
                        <th>Round</th>
                        <td class="text-center text-lg-start">[{game_data.game.round}]</td>
                    </tr>
                    <tr>
                        <th>Deck</th>
                        <td class="text-center text-lg-start">[{game_data.deck}]</td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td class="text-center text-lg-start">[{game_data.game.level}]</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--  -->
        <hr>
        <section class=" rounded-4 py-2 mb-3" id="dangerous">
            <div class="row m-auto py-2">
                <div class="col-3">[{quest.danger.name}]</div>
                <div class="col-3">HP: [{quest.danger.life_point}] <span v-show="user_power!=0"><span
                            v-show="user_power>=0">-</span><span v-show="user_power<=0">+</span>[{user_power}]</span>
                </div>
                <div class="col-3">Pick: [{quest.danger.pick}]</div>
                <div class="col-3 justify-content-end align-items-center d-flex flex-row">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        show
                    </button>
                </div>
            </div>
            <div class="collapse " id="collapseExample">
                <div class="card card-body text-black w-100">
                    <b>skill</b>
                    <hr>
                    <div class="row py-1 m-auto">
                        <div class="col-4">[{quest.skill.name}]</div>
                        <div class="col-4">[{quest.skill.power}]</div>
                        <div class="col-4">[{quest.skill.spend}]</div>

                    </div>
                </div>
            </div>
        </section>

        <!--  -->
        <section id="battle-phase" class="  rounded-4 py-3 px-3">
            <div class="skill">
                <div class="accordion " id="accordionExample">
                    <div class="accordion-item" v-for="(item, index) in fields" :key="index">
                        <h2 class="accordion-header">
                            <button class="accordion-button row row-cols-2 mx-auto g-0" type="button"
                                data-bs-toggle="collapse" :data-bs-target="`#collapseOne${index}`" aria-expanded="true"
                                :aria-controls="`collapseOne${index}`">
                                <div class="col">[{item.name}]</div>
                                <div class="col">
                                    ( <b
                                        :class="{'text-danger':item.power < 0, 'text-success':item.power > 0}">[{item.power}]</b>
                                    )
                                </div>
                            </button>
                        </h2>
                        <div :id="`collapseOne${index}`" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                asd
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--  -->
        <section id="action-btn" class="container fixed-bottom mt-5 py-3 rounded-top-4">
            <div class="next w-100 d-flex flex-column justify-content-center align-items-center">
                <button type="button" class="btn button-primary btn-lg w-50" @click="randomDanger()" v-show="finder">
                    Next
                </button>
                <button type="button" class="btn button-primary btn-lg w-50" @click="draw()" v-show="!finder">
                    Draw
                </button>
            </div>
        </section>
    </main>
    <script>
        const { createApp, ref } = Vue;
        const app = createApp(
            {
                delimiters: ["[{", "}]"],
                data() {
                    return {
                        game: "{{id}}",
                        game_data: null,
                        mode: 0,

                        quest: {
                            danger: {
                                id: null,
                                name: null,
                                pick: null,
                                life_point: 0
                            },
                            skill: {
                                id: null,
                                name: null,
                                power: null,
                                active: null,
                                spend: null,
                                type: null
                            }
                        },
                        dangers: null,
                        finder: true,
                        pick_value: 0,
                        fields: [],
                        user_power: 0,

                    };
                },
                computed: {
                    hp() {
                        return this.game_data.game.life_point - (this.quest.danger.life_point + this.user_power);
                    }
                },
                mounted() {
                    console.log("hello");
                    const form_data = new FormData;
                    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                    form_data.append('id', '{{id}}');
                    axios(
                        {
                            method: "post",
                            url: "{% url 'game-data-api' %}",
                            data: form_data
                        }
                    ).then((response) => {
                        if (response.data['status']) {
                            this.game_data = response.data['data'];
                        }
                        else {

                        }
                        console.log(response.data);
                    });
                },
                methods: {
                    draw() {
                        if (this.pick_value >= 1) {
                            const form_data = new FormData;
                            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                            form_data.append('id', '{{id}}');
                            form_data.append('mode', this.mode);
                            axios(
                                {
                                    method: 'post',
                                    url: "{% url 'draw-api' %}",
                                    data: form_data
                                }
                            ).then((response) => {
                                this.fields.push(response.data['card']);
                                this.quest.danger.life_point -= response.data['card'].power;
                                this.game_data.deck = response.data['deck'];
                            });
                            this.pick_value -= 1;
                        }
                        else {

                        }
                    },
                    selectCard(id) {
                        this.quest = this.dangers[id];
                        this.dangers = null;
                        this.finder = false;
                        this.pick_value = this.quest.danger.pick;
                        setTimeout(() => {

                        }, 100);
                        this.$refs['danger-modal-close'].click();
                    },
                    randomDanger() {
                        if (this.dangers == null) {
                            axios(
                                {
                                    method: "get",
                                    url: "{% url 'danger-api' %}"
                                }
                            ).then((response) => {
                                console.log(response.data['data']);
                                this.dangers = response.data['data'];
                                setTimeout(() => {
                                    document.getElementById("open-modal-danger").click();
                                }, 100);
                            });
                        }
                        setTimeout(() => {
                            document.getElementById("open-modal-danger").click();
                        }, 100);
                    }
                }
            }
        );
        app.mount('#app')
    </script>
    <!--  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script> -->
</body>

</html>