{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friday</title>
    <link rel="shortcut icon" href="{% static 'img/FRIDAY.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <main id="app">
        <section class="d-flex flex-column align-items-center justify-content-start">
            <img src="{% static 'img/FRIDAY.png' %}" alt="" class=" img-fluid">

            <div class="" style="width: 50rem;">
                <button type="button" class="f-btn secondary-outline-btn mb-4" @click="newGame()"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                    new game
                </button>
                <button type="button" class="f-btn secondary-outline-btn mb-4" @click="contGame()"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                    continue
                </button>
                <hr class="bg-light border-1 border-light mb-4">
                <button type="button" class="f-btn secondary-outline-btn mb-4" @click="onLogout()"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                    logout
                </button>
            </div>
        </section>
    </main>
    <script>
        const { createApp, ref } = Vue;


        const app = createApp(
            {
                delimiters: ["[{", "}]"],
                data() {
                    return {
                        game: null
                    };
                },
                mounted() {
                    console.log("hello");
                    axios(
                        {
                            method: "get",
                            url: "{% url 'newgame-api' %}"
                        }
                    ).then((response) => {
                        if (response.data['status']) {
                            this.game = response.data['game_id'];
                        }
                        else {
                            this.game = response.data['game_id'];
                        }
                        console.log(response.data);
                    });
                },
                methods: {
                    onLogout() {
                        axios(
                            {
                                method: "get",
                                url: "{% url 'logout-api' %}"
                            }
                        ).then((response) => {
                            if (response.data['status']) {
                                location.reload();
                            }
                        });
                    },
                    newGame() {
                        console.log("click");
                        axios(
                            {
                                method: "get",
                                url: "{% url 'newgame-api' %}"
                            }
                        ).then((response) => {
                            if (response.data['status']) {
                                this.game = response.data['game_id'];
                            }
                            else {
                                this.game = response.data['game_id'];
                            }
                            console.log(response.data);
                        });
                    },
                    contGame(){
                        location.replace(`game/${this.game}`)
                    }
                }
            }
        );
        app.mount('#app')
    </script>
</body>

</html>